/*CSS Normalize*/
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header CSS stuff*/
header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid black;
}
.Navbar{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: auto;
}
.NavbarItem{
    text-decoration: none;
}